.category-display {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e1e6ec; /* Equivalent to bg-slate-300 */
  padding: 15px;
  width: max-content;
  height: 100%;
  color: black;
}

.category-button {
  height: 60px;
  width: 100%;
  background-color: #4a4a4b; /* Equivalent to bg-slate-500 */
  border: 2px solid #6b7280; /* Equivalent to border-2 */
  color: white;
  /* text-align: center; */
  cursor: pointer;
  font-weight: 400;
}

.category-button:hover {
  background-color: #4b5563; /* Darker shade for hover effect */
}
