.scan-info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background-color: #f97316; Equivalent to bg-orange-300 */
}

.content1-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
  max-width: 1200px; /* Adjust as needed */
}

.components-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* .submit-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}


